#banner{
    background-image: url('https://images.unsplash.com/photo-1600565193348-f74bd3c7ccdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    padding: 150px 0;
}

#banner h1 span {
    font-family: 'Kristi', cursive;
}